# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment
.env

# Log files
*.log
combined.log

# IDE files
.idea/
.vscode/

# Dependencies
vendor/

# Temporary files
tmp/
temp/

# Build output
build/
dist/

cache/

config/